@import 'variables';

.beer-search-return {
    margin: 20px;
    background-color: $white;
    font-size: 12px;
    padding: 12px;
    box-shadow: $boxshadow;

        img {
            height: 50px;
            width: 50px;
        }

        .description {
            padding: 5px;
        }

        .save-button {
            background: transparent;
            border: none;
            color: $black;
        }
}