@import 'variables';

.inventory {
    box-shadow: $boxshadow;
    background-color: $white;
   
    .item {
        border-bottom: 1px solid $border-color;
        font-size: 12px;
        padding: 12px;
        position: relative;
            .delete {
                position: absolute;
                right: 0px;
                top: 0px;
                background: transparent;
                border: 0px;
                color: $black;
            }
    
            p {
                margin: 0;
            }
            
    }

    .accepted {
        position: absolute;
        right: 0px;
        top: 15px;
    }
}

.item:last-child {
    border: none;
}



