@import 'variables';

.trade-profile {
    background-color: $white;
    box-shadow: $boxshadow;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-pic {
    max-height: 100px;
    max-width: 100px;
}

.submit-trade {
    background: transparent;
    border: 0px;
    margin-top: 10px;
}


