@import 'variables';

.users {
    img {
        height: 100px;
        width: 100px;
    }
}

.thumbnail {
    box-shadow: $boxshadow;
    padding: 20px;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}