$background-color: #f0eceb;
$white: #fff;
$black: #000;
$darkgreen: #283018;
$button-color: #729f98;
$button-hover: #8CB9B2;
$navbar-hover: #424A32;
$border-color: #aa863a;
$boxshadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.75);



