<div class="col-xs-5">
    <img ng-src="{{myProfile.picture}}" class="img-circle profile-pic">
    <h2>{{myProfile.name}}'s Beers for Trade</h2>
    <div ng-if="trade.for_trade === 'true'" class="trade-profile img-rounded" ng-repeat="trade in inventory">
        <img ng-src="{{trade.beer_label}}" class="img-rounded" alt="">
        <h4>{{trade.brewery_name}} {{trade.beer_name}}</h4>
        <h4>Number for trade: {{trade.number_for_trade}}</h4>
        <p>{{trade.beer_style}}</p>
        <form name="ownerTrade">
            
        </form>
    </div>
</div>

<div class="col-xs-5 col-xs-offset-2">
        <img ng-src="{{receiverProfile.picture}}" class="img-circle profile-pic">
        <h2>{{receiverProfile.name}}'s Beers for Trade</h2>
        <div ng-if="trade2.for_trade === 'true'" class="trade-profile img-rounded" ng-repeat="trade2 in receiverInventory">
            <img ng-src="{{trade2.beer_label}}" class="img-round" alt="">
            <h4>{{trade2.brewery_name}} {{trade2.beer_name}}</h4>
            <h4>Number for trade: {{trade2.number_for_trade}}</h4>
            <p>{{trade2.beer_style}}</p>
        </div>
    </div>