<div class="col-xs-5">
    <h2>{{usersInTrade.owner_name}}'s Beers for Trade</h2>
    <div class="trade-profile img-rounded" ng-repeat="trade in ownerTradeItems">
        <button class="btn btn-md btn-default delete" ng-click="deleteItem(trade)"><i class="fa fa-trash-o"></i></button>
        <h4>{{trade.brewery_name}} {{trade.beer_name}}</h4>
        <p>Number available for trade: {{trade.number_for_trade}}</p>
        <form name="ownerTrade">
            <div class="form-group">
                <label for="numberToTrade">Trade Count:</label>
                <div>
                    <input type="text" size="4" maxlength="4" ng-model="trade.numberintrade" required>
                </div>
                <div>
                    <button type="submit" class="btn submit-trade" value="Save"><i class="fa fa-cart-plus" aria-hidden="true" ng-click="updateTrade(trade)"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
    
<div class="col-xs-5">
        <h2>{{usersInTrade.receiver_name}}'s Beers for Trade</h2>
        <div class="trade-profile img-rounded" ng-repeat="trade in receiverTradeItems">
            <button class="btn btn-md btn-default delete" ng-click="deleteItem(trade)"><i class="fa fa-trash-o"></i></button>
            <h4>{{trade.brewery_name}} {{trade.beer_name}}</h4>
            <p>Number available for trade: {{trade.number_for_trade}}</p>
            <form name="ownerTrade">
                <div class="form-group">
                    <label for="numberToTrade">Trade Count:</label>
                    <div>
                        <input type="text" size="4" maxlength="4" ng-model="trade.numberintrade" required>
                    </div>
                    <div>
                        <button type="submit" class="btn submit-trade" value="Save"><i class="fa fa-cart-plus" aria-hidden="true" ng-click="updateTrade(trade)"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <button class="btn btn-primary" ng-click="finishTrade()">I'm done here</button>
    </div>