<div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-5 col-xs-offset-6 user">
        <img ng-src="{{profileInfo.picture}}" class="img-circle" alt="">
        <h2>{{profileInfo.name}}</h2>
    </div>
    <div class="inventory img-rounded col-xs-5">
        <h4>My Cellar</h4>
        <div class="item col-xs-11" ng-repeat="item in inventory">
            <button class="btn btn-md btn-default delete" ng-click="deleteInventory(item.inventory_id, item.beer_name)"><i class="fa fa-trash-o"></i></button>
            <div ng-click="updateInventory(item.inventory_id)">
                <p>{{item.brewery_name}} {{item.beer_name}}</p>
                <p>Quantity: {{item.quantity}}</p>
                <p ng-if="item.for_trade != 'false'">Number for trade: {{item.number_for_trade}}</p>
            </div>
        </div>
    </div>

    <div class="inventory img-rounded col-xs-5 col-xs-offset-1">
        <h4>Active Trades</h4>
        <div class="item col-xs-11" ng-repeat="trade in trades">
            <div ng-if="trade.is_accepted === 'true'"><i class="fa fa-check accepted" aria-hidden="true"></i></div>
            <div ng-click="editTrade(trade.id)">
                <p>Trade Owner: {{trade.owner_name}}</p>
                <p>Trade Receiver: {{trade.receiver_name}}</p>
            </div>
        </div>
    </div>
</div>