.button {
  background: transparent;
  border: none; }

.beer-search-return {
  margin: 20px;
  background-color: #fff;
  font-size: 12px;
  padding: 12px;
  box-shadow: 1px 7px 40px -1px rgba(0, 0, 0, 0.75); }
  .beer-search-return img {
    height: 50px;
    width: 50px; }
  .beer-search-return .description {
    padding: 5px; }
  .beer-search-return .save-button {
    background: transparent;
    border: none;
    color: #000; }

.item {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 12px;
  padding: 12px;
  box-shadow: 1px 7px 40px -1px rgba(0, 0, 0, 0.75);
  position: relative; }
  .item .delete {
    position: absolute;
    right: 0px;
    top: 0px;
    background: transparent;
    border: 0px;
    color: #000; }
  .item p {
    margin: 0; }

.item:hover {
  box-shadow: 5px 10px 15px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px; }

.users img {
  height: 100px;
  width: 100px; }

.thumbnail {
  box-shadow: 1px 7px 40px -1px rgba(0, 0, 0, 0.75);
  padding: 20px; }

.search {
  margin-top: 20px;
  margin-bottom: 20px; }

body {
  background-color: lightblue; }
